@charset "utf-8";

body {
  width: 100%;
  margin: 0;
}

table,tr,td,th {
  border: 1px solid #000;
  border-collapse: collapse;
  margin: 0 auto;
}

table {
  margin: 50px auto;
  width: 80%;
}

td,th {
  width: 10%;
}

th {
  background-color: #90bcff;
  color: #fff;
}

.box-width {
  width: 80%;
  margin: 50px auto;
}

.margin {
  margin-left: 20px;
}
