<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>社員情報システムの機能作成</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div id="app">
            <div class="box-width">
                <label for="sortText">並び替え:</label>
                <select id="sort" v-model="selectedSort" v-on:change="sortTable">
                    <option value="up">昇順</option>
                    <option value="down">降順</option>
                </select>
                <label for="sortText" class="margin">選択:</label>
                <select id="sortSort" v-model="selectSort">
                    <option value="id">ID</option>
                    <option value="name">名前</option>
                    <option value="company">会社名</option>
                    <option value="division">部署</option>
                    <option value="title">役職</option>
                </select>
                <label for="searchText" class="margin">検索:</label>
                <input type="text" id="searchText" v-model="searchKeyword">
                <button v-on:click="search">検索</button>
            </div>
            <table>
                <tr>
                    <th v-on:click="customSortFunction('id')">ID名</th>
                    <th v-on:click="customSortFunction('name')">名前</th>
                    <th v-on:click="customSortFunction('company')">会社名</th>
                    <th v-on:click="customSortFunction('division')">部署</th>
                    <th v-on:click="customSortFunction('title')">役職</th>
                </tr>
                <tr v-for="user in products" :key="user.id">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.company }}</td>
                    <td>{{ user.division }}</td>
                    <td>{{ user.title }}</td>
                </tr>
            </table>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
        <script src="vue.js"></script>
    </body>
</html>
